<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BusBooking</display-name>
	  <servlet>
	 <servlet-name>Login</servlet-name>
	  <servlet-class>com.book.servlets.LoginServletss</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  <servlet-name>Login</servlet-name>
	  <url-pattern>/loginpage</url-pattern>
	  </servlet-mapping>
  
  <servlet>
 <servlet-name>Signup</servlet-name>
  <servlet-class>com.book.servlets.SignupSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Signup</servlet-name>
  <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
 <servlet-name>booked</servlet-name>
  <servlet-class>com.book.servlets.BookedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>booked</servlet-name>
  <url-pattern>/booked</url-pattern>
  </servlet-mapping>
  
   <servlet>
 <servlet-name>otp</servlet-name>
  <servlet-class>com.book.servlets.ScannerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>otp</servlet-name>
  <url-pattern>/otp</url-pattern>
  </servlet-mapping>
  
     <servlet>
 <servlet-name>otpthere</servlet-name>
  <servlet-class>com.book.servlets.EnterOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>otpthere</servlet-name>
  <url-pattern>/otpthere</url-pattern>
  </servlet-mapping>
   
  <servlet>
 <servlet-name>view</servlet-name>
  <servlet-class>com.book.servlets.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>view</servlet-name>
  <url-pattern>/view</url-pattern>
  </servlet-mapping>
  

  
    <servlet>
        <servlet-name>truncate</servlet-name>
        <servlet-class>com.book.servlets.TruncateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>truncate</servlet-name>
        <url-pattern>/truncate</url-pattern>
    </servlet-mapping>


  
  <context-param>
 <param-name>url</param-name>
 <param-value>jdbc:mysql:///BusUserdetails</param-value>
  </context-param>
  
   <context-param>
 <param-name>username</param-name>
 <param-value>root</param-value>
  </context-param>
  
   <context-param>
 <param-name>password</param-name>
 <param-value>root</param-value>
  </context-param>
  </web-app>